# Binaries
# /bin
bin/Debug/GEngine/

bin/Release/GEngine/

external/glad/bin/
tools/*.bak
**/__pycache__/ 

bin-int/
logs/
.gitignore.bak

# GEngine files
*.log
*.exe
*.pdb

# Visual Studio files and folder

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

